@mixin align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@mixin row-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin mp-clear {
  margin: 0;
  padding: 0;
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
