/* GLOBAL */

@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "blocks/btn.scss";
@import "blocks/slider.scss";

/* HEADER */

@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";

/* MAIN */

@import "blocks/page-main.scss";
@import "blocks/stats.scss";
@import "blocks/stats.scss";
@import "blocks/advantages.scss";
@import "blocks/news.scss";
@import "blocks/reviews.scss";

/* FOOTER */

@import "blocks/page-footer.scss";
