$bg-lightgray: #f8f5f2;
$bg-darkgray: #242424;;
$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
$font-stack: 'PT Sans Narrow', sans-serif;

/* Если бы у меня были картинки на retina */
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
