.news {
  &__wrapper {
    position: relative;
    padding: 70px 20px 0;
    padding-bottom: 30px;
    background-color: #f8f5f2;
    border-bottom: 1px solid #e5ddd5;
    color: black;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 34px;
      background-color: $bg-darkgray;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  &__title {
    @include mp-clear;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__content {
    @include mp-clear;
    list-style: none;
  }

  &__item {
    padding-bottom: 20px;
    padding-left: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5ddd5;

    &:last-child {
      border: none;
    }
  }

  &__link {
    position: relative;
    display: block;
    min-height: 70px;
    color: black;
    text-align: left;
    text-decoration: none;

    &:hover .news__date {
      background-color: #826550;
    }

    &:hover .news__date::before {
      background-color: #826550;
    }

    &:hover .news__text {
      color: #826550;
      text-decoration: underline;
      text-decoration-color: #826550;
    }

    &:active .news__date {
      background-color: #6a4d38;
      color: #968273;
    }

    &:active .news__date::before {
      background-color: #6a4d38;
    }

    &:active .news__text {
      color: #6a4d38;
      text-decoration: underline;
      text-decoration-color: #6a4d38;
    }
  }

  &__date {
    box-sizing: border-box;
    position: absolute;
    top: 12px;
    right: 100%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px 12px 0;
    background-color: black;
    transform: translateX(-20px);
    font-size: 16px;
    line-height: 16px;
    line-height: 16px;
    font-weight: 400;
    color: white;
    text-align: center;

    & span {
      font-size: 30px;
      line-height: 25px;
      font-weight: 700;
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: black;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }

  &__text {
    @include mp-clear;
    font-size: 18px;
    line-height: 27px;
    color: black;
  }

  &__btn {
    width: 100%;
  }
}
