.page-header {
  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
  }

  &__logo img {
    width: 226px;
    height: 30px;
  }
}


@include tablet {
  .page-header {
    min-height: 72px;
    background-color: black;

    &__logo {
      display: none;
    }
  }
}
