.page-header {
  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
  }

  &__logo img {
    width: 226px;
    height: 30px;
  }
}


@include tablet {
  .page-header {
    display: flex;
    flex-direction: column;
    min-height: 72px;

    &__logo {
      position: relative;
      order: 2;
      width: 100%;
      height: auto;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        display: block;
        width: 370px;
        height: 101px;
        border: 1px solid red;
        background-image: url("../img/logo-tablet.png");
        transform: translate(-50%, 40px);
      }
    }

    &__logo img {
      display: none;
    }
  }
}
